*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */

body{
    font-family: 'Antonio', sans-serif;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

h2{
    font-size: 56px;
    padding: 20px 0;
    word-spacing: 2px ;
}

/* buttons */

.btn{
    text-align: center;
    padding: 8px 20px;
}

.btn-blue{
    background-color: #0061ff;
    color:white;
}

.btn-blue:hover{
    background-color: rgba(0, 97, 255, 0.5);
}

.btn-jumbo{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 35px;
    display:inline-block;
}

.btn-jumbo a {
    text-decoration: none;
    color: white;
}

/* header */

/* navbar */

.header-navbar{
    height: 80px;
    line-height: 78px;
    width: 100%;
    padding: 0 20px;
    background-color: white;
    position: fixed;  
    z-index: 90;
}

.header-navbar nav ul li{
    list-style: none;
    display: inline-block;
}

.header-navbar nav ul li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 20px;
}

.header-navbar nav ul li .navbar-item:hover{
    border-bottom: 3px solid black;
}

/* left-navbar */

.left-header-navbar{
    float: left;
}

#logo{
    height: 30px;
    vertical-align: middle;
}

/* right-navbar */

.right-header-navbar{
    float: right;
}

.button-header{
    margin-left: 20px;
}

/* jumbotron */

.jumbotron{
    padding: 100px 80px 0 80px; 
    background-color: #b4d0e7;
}

.jumbotron h1{
    font-size: 80px;
    letter-spacing: -2px;
    word-spacing: 2px;
}

.jumbotron .row{
    position: relative;
    bottom: -80px;
}

.jumbotron-text{
    float: left;
    width: 30%;
}

.jumbotron .jumbotron-text p{
    width: 95%;
    font-size: 20px;
    line-height: 30px;
}

.jumbotron .jumbotron-text .btn-didascalia{
    margin-top: 15px;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
}

.jumbotron .jumbotron-text .download-symbol{
    display: block;
    margin-top: 15px;
    font-size: 60px;
    font-weight: bold;
}

.jumbotron-image{
    float: left;
    width: 70%;
}

.jumbo-img{
    width: 100%
}

.price-list{
    margin-top: 150px;
}









/* section-1: Price list */




/* da rimuovere */

.container{
    background-color: magenta;
    height: 700px;
}


.price-list{
    background-color: lightpink;
    height: 700px;
}


.price-list .row{
    border: 3px solid red;
}

.left-col, .right-col{
    background-color: blueviolet;
    height: 400px;
    width: calc((100% - 64px) / 3);
    float:left;
}

.middle-col{
    background-color: cadetblue;
    height: 400px;
    width: calc((100% - 64px) / 3);
    margin: 0 32px;
    float: left;
}

.operations, .faqs {
    background-color: bisque;
}

.partners, .teams {
    background-color: burlywood;
    height: 300px;
}

footer{
    background-color: chocolate;
    height: 660px;
}


/* dropdown */
#dropdown-1{
    width: 700px;
    background-color: #f9f9f9;
    z-index: 80;
}

#dropdown-2{
    width: 500px;
    background-color: #f9f9f9;
    z-index: 80;
}

#dropdown-3, #dropdown-4{
    width: 200px;
    background-color: #f9f9f9;
    z-index: 80;
}
.panoramica, .per-settore, .per-tipo-utente{
    width: calc(100% / 3);
    float: left;
    padding: 20px 0;
}

.dropdown ul li{
    list-style: none;
}

#dropdown-1 ul li:nth-child(1){
    display: block;
    font-size: 18px;
    border-bottom: 1px solid darkgrey;
    font-weight: bold;
    padding: 10px 0;
    margin: 0 30px;
}

.dropdown ul li a{
    font-size: 17px;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color:black;
}

.dropdown ul li a:hover{
    background-color: #f1f1f1;
}

#dropdown-2>.col-left, #dropdown-2>.col-right {
    width: calc(100% / 2);
    float:left;
}