*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */

.container{
    width: 1080px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

a:visited{
    color: blue;
}

/* Text */

body{
    font-family: 'ABeeZee', sans-serif;
    
}

h1{
    font-family: 'Antonio', sans-serif;
}

h2{
    font-family: 'Antonio', sans-serif;
    font-size: 56px;
    padding: 20px 0;
    word-spacing: 2px ;
}

h3{
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

p{
    font-size: 20px;
    line-height: 30px;
}

.operations p{
    font-size: 19px;
}

/* buttons */

.btn{
    text-align: center;
    padding: 8px 20px;
}

.btn-blue{
    background-color: #0061ff;
    color:white;
}

.btn-blue:hover{
    background-color: rgba(0, 97, 255, 0.5);
}

.btn-jumbo{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 35px;
    display:inline-block;
}

.btn-jumbo a {
    text-decoration: none;
    color: white;
}

/* columns */

.left-col, .right-col{
    width: calc((100% - 64px) / 3);
    float:left;
}

.middle-col{
    width: calc((100% - 64px) / 3);
    margin: 0 32px;
    float: left;
}

/* header */

/* navbar */

.header-navbar{
    height: 80px;
    line-height: 78px;
    width: 100%;
    padding: 0 20px;
    background-color: white;
    position: fixed;  
    z-index: 90;
}

.header-navbar nav .navbar-ul>li{
    list-style: none;
    display: inline-block;
}

.header-navbar nav .navbar-ul>li .navbar-item{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 20px;
}

.header-navbar nav .navbar-ul li>.navbar-item-drop:hover{
    border-bottom: 3px solid black;
}

/* left-navbar */

.left-header-navbar{
    float: left;
}

#logo{
    height: 30px;
    vertical-align: middle;
}

/* right-navbar */

.right-header-navbar{
    float: right;
}

.button-header{
    margin-left: 20px;
}

.header-navbar nav .navbar-ul li>.navbar-item-drop.second-item:hover .dropdow-content.dropdown-1{
    display: block;
}

/* dropdown */

.dropdow-content{
    z-index: 100;
    position: absolute;
    display: none;
    background-color: #f9f9f9;
}

.dropdown-1{
    padding: 10px;
    width: 650px;
}

.dropdown-2{
    padding: 10px;
    width: 650px;
}

.header-navbar nav .navbar-ul li>.navbar-item-drop.third-item:hover .dropdow-content.dropdown-2{
    display: block;
}

.header-navbar nav .navbar-ul li>.navbar-item-drop.fifth-item:hover .dropdow-content.dropdown-4{
    display: block;
}

.header-navbar nav .navbar-ul li>.navbar-item-drop.sixth-item:hover .dropdow-content.dropdown-5{
    display: block;
}

.dropdow-content ul li{
    list-style: none;
    line-height: 40px;
    font-size: 16px;
}

.dropdown-1 ul li:first-child{
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.dropdown-1 ul li:not(:first-child){
    font-size: 16px;
}

.dropdown-1 ul li:hover:not(:first-child){
    background-color: #f1f1f1;
}

.panoramica, .per-settore, .per-tipo-utente{
    padding: 0 20px;
    float: left;
} 

.dropdown-2 ul li:hover, .dropdown-4 ul li:hover, .dropdown-5 ul li:hover{
    background-color: #f1f1f1;
}

.dropdown-2 .drop2-col-left, .dropdown-2 .drop2-col-right{
    float: left;
    padding: 0 20px;
    width: 50%;
}

.dropdown-4, .dropdown-5{
    padding: 5px 20px;
    width: 250px;
}


/* jumbotron */

.jumbotron{
    padding: 100px 80px 0 80px; 
    background-color: #b4d0e7;
}

.jumbotron h1{
    font-size: 80px;
    letter-spacing: -2px;
    word-spacing: 2px;
}

.jumbotron .row{
    position: relative;
    bottom: -80px;
}

.jumbotron-text{
    float: left;
    width: 30%;
}

.jumbotron .jumbotron-text p{
    width: 95%;
}

.jumbotron .jumbotron-text .btn-didascalia{
    margin-top: 15px;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
}

.jumbotron .jumbotron-text .download-symbol{
    display: block;
    margin-top: 15px;
    font-size: 60px;
    font-weight: bold;
}

.jumbotron-image{
    float: left;
    width: 70%;
}

.jumbo-img{
    width: 100%
}

/* Chat */

/* Chat button */

.chat{
    display: inline-block;
    background-color: #0d2481;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 900;
    box-shadow: -5px 5px 10px grey;  
}

.chat i{
    filter: invert(100%);
    font-size: 40px;
    line-height: 70px;
}

.chat-questions {
    display: none;  
}

.chat-question {
    cursor: pointer;
}

.chat-answer {
    width: 300px;
    display: none;
    z-index: 900;
    position: fixed;
    bottom: 140px;
    right: 30px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.chat-questions:checked ~ .chat-answer{
    display: block;
    box-shadow: -5px 5px 10px grey;
}
  
/* Chat-answer structure */

/* chat navbar */

.chat-navbar{
    border-radius: 10px 10px 0 0 ;
    height: 50px;
    width: 100%;
    background-color: #0d2481;
    text-align: center;
    padding: 10px 5px ;
}

.chat-navbar i{
    font-size: 24px;
    filter: invert(100%);
    float:left;
    padding: 0 10px;
}

.chat-navbar span{
    text-align: center;
    font-size: 24px;
    padding-left: 24px;
    color: white;
}

.chat-navbar .chat-symbol{
    float:right;
}

/* chat body */
.chat-body{
    padding: 20px;
    width: 100%;
    height: 300px;
    background-color: white;
}

.chat-body .dropbox-hello span{
    float: right;
    background-color:lightcyan;
    width: calc(100% - 50px);
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}

.chat-body .dropbox-hello svg{
    float: left;
}
 /* chat footer */

.chat-footer{
    padding: 10px 20px 50px 20px;
    background-color: white;
    border-top: 1px solid darkgrey;
    height: 100px;
}


.chat-footer i{
    color:	#606060;
    font-size: 20px;
    float:right;
}

.chat-footer span{
    float:left;
    color:	#606060;
}
  

/* section-1: Price list */

.price-list{
    margin-top: 150px;
}

.price-list .radio-box input{
    display: inline-block;
    margin-right: 10px ;
    font-size: 20px;
    letter-spacing: 1px;
}

.price-list .radio-box label{
    display: inline-block;
    margin-right: 20px;
    font-size: 19px;
    padding: 20px 0 40px 0;
}

.price-list .col-content{
    padding: 0 30px;
}

.price-list .left-col, .price-list .middle-col, .price-list .right-col{
    border: 1px solid #d0d0d3;
}

/* title */

.user-type{
    width: 100%;
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    line-height: 50px;
}

.price-list .user-type img{
    height: 16px;
    vertical-align: middle;
}

.price-list .user-type span{
    font-size: 18px;
    margin-left:10px;
    vertical-align: middle;
}

/* col.content */

/* plan type */

.price-list .plan-type{
    padding-top: 30px;
}

.price-list .col-content .plan-type .price{
    font-size: 19px;
    display: block;
    padding: 15px 0;
}

.price-list .col-content .plan-type .duration{
    display: inline-block;
    color:#667683;
    width: 60%;
}

.price-list .left-col .col-content .plan-type .duration{
    display: inline-block;
    padding-bottom: 23px;
}

/* specification */

.price-list .specification {
    padding-top: 40px;
}

.price-list .col-content .specification .user, .price-list .col-content .specification .storage-space, .price-list .col-content .specification .tools{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.specification .user img, .specification .storage-space img, .specification .tools img{
    margin-right: 10px;
}

.storage-space{
    padding: 20px 0;
} 

/* button */

.price-list .btn-price{
    display: block;
    margin-top: 60px;
}

/* other */

.price-list .other span{
    display: inline-block;
    line-height: 100px;
    border-bottom: 1px solid #d0d0d3;
    margin-right: 10px
}

/* punti salienti del piano */
   
.price-list h4{
    font-size: 20px;
    margin-top: 50px;
    padding-bottom: 10px;
   
}
.price-list .middle-col ul{
    padding-bottom: 31px;
}
.price-list .right-col ul{
    padding-bottom: 26px;
}

.price-list .left-col ul{
    padding-bottom: 66px;
}

.price-list ul li{
    margin: 20px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.price-list ul li span{
    color:#116bff;
    margin-right: 10px;
}

/* bottom-row */

.price-list .price-list-options .bottom-row{
    margin-top: 50px;
    height: 250px;
    width: 100%;
    border:1px solid #d0d0d3;
}
.bottom-row-content{
    padding: 20px 30px;
}

.left-content, .right-content{
    float:left;
}

.left-content{
    width: 65%;
}

.left-content p{
    margin: 15px 0;
}

.right-content{
    width: calc(100% - 65%);
}

.right-content span{
    margin-top: 40px;
    display: block;
}

/* Section-2: Partners */

.partners{
    margin-top: 130px;
}

.partners-image img{
    width: 100%;
}

.partners-image, .partners-text{
    width: calc(100% / 2);
    float: left;
}

.partners-text{
    height: 461px;
    position: relative;
}

.partners-text-content{
   width: 80%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.partners-text-content p{
    font-size: 18px;
    padding: 30px 0;
}
.partners-text-content .btn{
    display: inline-block;
    margin: 20px 0;
    border: 1px solid black;
}

/* section-3: Operation*/

.operations{
    margin-top: 100px;
}
.operations .left-col, .operations .right-col, .operations .middle-col{
    padding: 0 20px;
}

.operations img{
    margin-bottom: 20px;
    width: 100%;
}
.operations p{
    padding-top: 25px;
}

 .operations .bottom-row{
    margin-top: 30px;
 }

.operations .top-row, .operations .bottom-row{
    padding: 40px 0;
}

/* section-4: Teams */

.teams .container .title {
    width: 60%;
    padding-bottom: 50px;
    padding-top: 100px;
}

.teams .container a{
    font-size: 20px;
}

.box-container{
    margin-top: 70px;
}

.box-container-left, .box-container-right{
    width: 30vw;
    float: left;
}

.box-container-middle{
    float:left;
    width: calc(100% - 60vw);
    height: 60vh ;
    overflow: auto;
    background-color: #f5f5f5;
    position: relative;
}

.description-team{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.description-team img{
    margin-top: 10px;
    width: 150px;
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.description-team p{
    line-height: 24px ;
    padding: 30px 0;
    font-size: 16px;
}
.description-team span{
    font-size: 14px;
}

.teams .box-container .box{
    position: relative;
    height: 30vh;
    width: 15vw;
    float: left;
}

.box-container .designit {
    background-color: #a2d39b;
}

.box-container .arizonauni{
    background-color: #61082b;
}
.box-container .floridauni{
    background-color: #0093ce;
}

.box-container .topps{
    background-color: #ff1c1c;
}

.box-container .worldbyc{
    background-color: #d5001f;
}

.box-container .Heart{
    background-color: #b4d0e7;
}

.box-container .lonelyplanet{
    background-color: #0d2481;
}

.box-container .clearchannel{
    background-color: #ffd830;
}

.teams .box-container .box img{
    filter: invert(100%);
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.teams-free-trial{
    background-color: #b4d0e7;
    padding: 80px 0;
}

.teams-free-trial h2{
    width: 90%;
    font-size: 50px;
    color:#61082b;
}

.teams-free-trial .btn{
    padding: 10px 0px 10px 0px;
    background-color: #ffffff;
}

.teams-free-trial .btn a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* section-5: FAQs */

/* FAQs container and FAQ content */
.faqs-container{
    min-height: 750px;
    position: relative;
}

.faqs-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Title FAQ content */

.faqs h3{
    font-size: 34px;
    padding-bottom: 40px;
}

/* FAQs row */

.faq-row{
    position: relative;
    margin-top: 30px;
    border-top: 1px solid #d0d0d3;
}

.last-faq-row{
    border-bottom: 1px solid #d0d0d3;
    padding-bottom: 30px;
}

/* Question */

.questions {
    display: none;  
}

.question {
    font-size: 19px;
    padding: 30px 0px 30px 15px;
    display: block;
    width:100%;
    cursor: pointer;
}

.arrow{
    position: absolute;
    top: 30px;
    right: 50px;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;

}

.questions:checked ~ .arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

}

.arrow i{
    font-size: 22px;
}

.answers {
    font-size: 19px;
    margin-top: -25px;
    color: #667683 ;
    width:80%!important;
    height: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}
  
.questions:checked ~ .answers{
    height: auto;
    opacity: 1;
    padding: 15px;
    
}

/* footer */
 
footer{
    background-color: black;
    height: 660px;
}

.top-footer .dropbox, .top-footer .azienda, .top-footer .supporto, .top-footer .community, .top-footer .prodotti{
    width: calc(100% / 5);
    float: left;
    padding: 100px 15px;
}

.top-footer ul li{
    list-style: none;
    color:white;
    padding: 10px 0;
    font-size: 14px;
}

.top-footer ul li:first-child{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.top-footer ul li a{
    color:white;
    text-decoration: none;
}

.top-footer ul li a:visited{
    color:white;
    text-decoration: none;
}

footer .bottom-footer .language{
    padding: 50px 0;
    border-top: 2px solid white;
    width: 15%;
}

footer .bottom-footer .language .globe{
    filter: invert(90%);
}

footer .bottom-footer .language span{
    color:#626262;
}

footer .bottom-footer .language .triangle{
    color:#626262;
    vertical-align: text-bottom;
}